.container{
    width: 60vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    repear: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/clear.jpg');
    padding: 30px 80px;
}
img{
    margin-bottom: -15px;
}
header{
    color: white;
    font-weight: 600;
}
.selector{
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.details{
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    margin-bottom: 8vh;
    flex-wrap: wrap;
}
h1{
    font-size: 80px;
}
.details>span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.sun{
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: -15px;
    margin-left: -8px;
}
.selector :first-child :first-child{
    font-size: 45px;
    margin: 0;
    margin-bottom: -10px;
    padding: 0;
}
@media (max-width: 1000px){
    .container{
        width: 100%;
        padding-right: 0
    }
}