.container{
    width: 40vw;
    height: 100vh;
    height: auto;
    background: #373B44;
    background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);
    background: linear-gradient(to bottom, #4286f4, #373B44);
}
.searchCities{
    height: 52vh;
    overflow: hidden;
}
hr{
    margin: 20px 50px;
    border-color: #b0b0b0;
}
@media (max-width: 1000px){
    .container{
        max-width: 100vw;
        width: 100vw;
    }
}